<html>
<head>
<title>activity_main.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: rgb(0,0,0); font-weight: normal; font-style: normal; }
.s0 { color: rgb(0,0,0); }
.s1 { color: rgb(0,0,128); font-weight: bold; }
.s2 { color: rgb(0,0,255); font-weight: bold; }
.s3 { color: rgb(0,128,0); font-weight: bold; }
.s4 { color: rgb(0,0,0); }
</style>
</head>
<BODY BGCOLOR="#ffffff">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#C0C0C0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
activity_main.xml</FONT>
</center></TD></TR></TABLE>
<pre>
<span class="s0">&lt;</span><span class="s1">LinearLayout </span><span class="s2">xmlns:android=</span><span class="s3">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s0"> 
    </span><span class="s2">xmlns:tools=</span><span class="s3">&quot;http://schemas.android.com/tools&quot;</span><span class="s0"> 
    </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
    </span><span class="s2">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
    </span><span class="s2">android:orientation=</span><span class="s3">&quot;vertical&quot;</span><span class="s0">&gt;</span><span class="s4"> 
 
    </span><span class="s0">&lt;</span><span class="s1">Button</span><span class="s0"> 
        </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/btStart&quot;</span><span class="s0"> 
        </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
        </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
        </span><span class="s2">android:text=</span><span class="s3">&quot;@string/start_alarm&quot;</span><span class="s0"> 
        </span><span class="s2">android:onClick=</span><span class="s3">&quot;startRepeatingTimer&quot;</span><span class="s0"> 
        </span><span class="s2">tools:context=</span><span class="s3">&quot;.WidgetAlarmManagerActivity&quot; </span><span class="s0">/&gt;</span><span class="s4"> 
    </span><span class="s0">&lt;</span><span class="s1">Button</span><span class="s0"> 
        </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/btCancel&quot;</span><span class="s0"> 
        </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
        </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
        </span><span class="s2">android:text=</span><span class="s3">&quot;@string/cancel_alarm&quot;</span><span class="s0"> 
        </span><span class="s2">android:onClick=</span><span class="s3">&quot;cancelRepeatingTimer&quot;</span><span class="s0"> 
        </span><span class="s2">tools:context=</span><span class="s3">&quot;.WidgetAlarmManagerActivity&quot; </span><span class="s0">/&gt;</span><span class="s4"> 
    </span><span class="s0">&lt;</span><span class="s1">Button</span><span class="s0"> 
        </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/btOneTime&quot;</span><span class="s0"> 
        </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
        </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
        </span><span class="s2">android:text=</span><span class="s3">&quot;@string/one_time&quot;</span><span class="s0"> 
        </span><span class="s2">android:onClick=</span><span class="s3">&quot;onetimeTimer&quot;</span><span class="s0"> 
        </span><span class="s2">tools:context=</span><span class="s3">&quot;.WidgetAlarmManagerActivity&quot; </span><span class="s0">/&gt;</span><span class="s4"> 
</span><span class="s0">&lt;/</span><span class="s1">LinearLayout</span><span class="s0">&gt;</span></pre>
</body>
</html>